body {
    background-color: #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

h1, h2, h3, a, section p {
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-size: 21px;
    color: gray;
}

.footer h3 {
    text-align: right;
}

a {
    color: aquamarine;
    font-size: 16px;
}

section {
    
}